.ui.fixed.inverted.menu {
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.ui.top.attached.menu {
  background: #1b1c1d;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  border: none;
  border-radius: 0;
  height: 52.6px;
  position: fixed;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 101;

  .ui.item.simple.dropdown {
    i {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .menu.transition {
    background: #1b1c1d;
    a {
      color: rgba(255, 255, 255, 0.9) !important;
    }
  }
}

.ui.menu .ui.dropdown .menu > .item {
  color: rgba(255, 255, 255, 0.9) !important;
}

div.ui.menu .ui.dropdown .menu > .item:hover {
  background: rgba(255, 255, 255, 0.15) !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

div.ui.menu .ui.dropdown .menu > .active.item {
  background: rgba(255, 255, 255, 0.15) !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.attached.menu:not(.tabular) {
  border: none !important;
}

.custom-icon {
  a {
    height: 32px;

    img {
      background: rgba(255, 255, 255, 0.9);
      border-radius: 4px;
      height: 32px;
      width: 32px;
    }
  }
}
